<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <link rel="stylesheet" href="../css/bootstrap.min.css" />
  <link rel="stylesheet" href="../css/stylesheet.css" />
  <title>Experience</title>
</head>

<body>
  <div id="home_container">
    <div>
      <ul id="nav_ul" class="nav nav-pills">
        <li role="presentation" class="li">
          <a href="../views/home.html">Home</a>
        </li>
        <li role="presentation" class="li active">
          <a href="../views/experience.html">Experience</a>
        </li>
        <li role="presentation" class="li">
          <a href="../views/skills.html">Skills</a>
        </li>
        <li role="presentation" class="li">
          <a href="../views/goals.html">Goals</a>
        </li>
        <li role="presentation" class="li">
          <a href="../views/hobby.html">Hobbies</a>
        </li>
      </ul>
    </div>

    <div class="container home_bio_container">
      <span id="left_side_container">
        <h1 id="style_home_h1">Experience:</h1>
        <br />
        <a href="https://www.freecodecamp.org/" target="_blank">
          <h4>FreeCodeCamp</h4>
        </a>
        <br />
        <a href="https://devmountain.com/" target="_blank">
          <h4>DevMountain</h4>
        </a>
        <br />
        <a href="https://www.udemy.com/" target="_blank">
          <h4>Udemy</h4>
        </a>
      </span>
    </div>
  </div>
  <script src="../js/script.js"></script>
</body>

</html>