<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <link rel="stylesheet" href="../css/bootstrap.min.css" />
  <link rel="stylesheet" href="../css/stylesheet.css" />
  <title>Hobbies</title>
</head>

<body>
  <div id="home_container">
    <div>
      <ul id="nav_ul" class="nav nav-pills">
        <li role="presentation" class="li">
          <a href="../views/home.html">Home</a>
        </li>
        <li role="presentation" class="li">
          <a href="../views/experience.html">Experience</a>
        </li>
        <li role="presentation" class="li">
          <a href="../views/skills.html">Skills</a>
        </li>
        <li role="presentation" class="li">
          <a href="../views/goals.html">Goals</a>
        </li>
        <li role="presentation" class="li active">
          <a href="../views/hobby.html">Hobbies</a>
        </li>
      </ul>
    </div>

    <div class="container home_bio_container">
      <span id="table_left_side_container">
        <h1 id="style_home_h1">Movies:</h1>
        <br />
        <table>
          <tr>
            <th>Title</th>
            <th>Director</th>
            <th>Year released</th>
            <th>IMDb Rating</th>
          </tr>
          <tr>
            <td>
              <a href="https://www.imdb.com/title/tt1663662/" target="_blank"><strong><em>Pacific Rim</em></strong></a>
            </td>
            <td><Strong>Guillermo del Toro</Strong></td>
            <td><strong>2013</strong></td>
            <td><strong>6.9</strong></td>
          </tr>
          <tr>
            <td>
              <a href="https://www.imdb.com/title/tt2802144/" target="_blank"><strong><em>Kingsman: The Secret Service</em></strong></a>
            </td>
            <td><Strong>Matthew Vaughn</Strong></td>
            <td><strong>2014</strong></td>
            <td><strong>7.7</strong></td>
          </tr>
          <tr>
            <td>
              <a href="https://www.imdb.com/title/tt0167260/?pf_rd_m=A2FGELUUNOQJNL&pf_rd_p=e31d89dd-322d-4646-8962-327b42fe94b1&pf_rd_r=SRE3X28XMKYJN1X0WPJ5&pf_rd_s=center-1&pf_rd_t=15506&pf_rd_i=top&ref_=chttp_tt_7"
                target="_blank"><strong><em>The Lord of the Rings: The Return of the King</em></strong></a>
            </td>
            <td><Strong>Peter Jackson</Strong></td>
            <td><strong>2003</strong></td>
            <td><strong>8.9</strong></td>
          </tr>
          <tr>
            <td>
              <a href="https://www.imdb.com/title/tt0071562/?pf_rd_m=A2FGELUUNOQJNL&pf_rd_p=e31d89dd-322d-4646-8962-327b42fe94b1&pf_rd_r=SRE3X28XMKYJN1X0WPJ5&pf_rd_s=center-1&pf_rd_t=15506&pf_rd_i=top&ref_=chttp_tt_3"
                target="_blank"><strong><em>The Godfather: Part II</em></strong></a>
            </td>
            <td><Strong>Francis Ford Coppola</Strong></td>
            <td><strong>1974</strong></td>
            <td><strong>9.0</strong></td>
          </tr>
        </table>
      </span>
      <span id="table_right_side_container">
        <h1 id="style_home_h1">TV shows:</h1>
        <br />
        <table>
          <tr>
            <th>Title</th>
            <th>Creator</th>
            <th>Number of episodes</th>
            <th>IMDb Rating</th>
          </tr>
          <tr>
            <td>
              <a href="https://www.imdb.com/title/tt6763664/?ref_=nv_sr_1" target="_blank"><strong><em>The Haunting of
                    Hill House</em></strong></a>
            </td>
            <td><Strong>Mike Flanagan</Strong></td>
            <td><strong>10</strong></td>
            <td><strong>8.8</strong></td>
          </tr>
          <tr>
            <td>
              <a href="https://www.imdb.com/title/tt0903747/" target="_blank"><strong><em>Breaking Bad</em></strong></a>
            </td>
            <td><Strong>Vince Gilligan</Strong></td>
            <td><strong>62</strong></td>
            <td><strong>9.5</strong></td>
          </tr>
          <tr>
            <td>
              <a href="https://www.imdb.com/title/tt0185906/?pf_rd_m=A2FGELUUNOQJNL&pf_rd_p=12230b0e-0e00-43ed-9e59-8d5353703cce&pf_rd_r=74A9J5JGKJ4ZJ265YS1A&pf_rd_s=center-1&pf_rd_t=15506&pf_rd_i=toptv&ref_=chttvtp_tt_2"
                target="_blank"><strong><em>Band of Brothers</em></strong></a>
            </td>
            <td><Strong></Strong></td>
            <td><strong>10</strong></td>
            <td><strong>9.5</strong></td>
          </tr>
          <tr>
            <td>
              <a href="https://www.imdb.com/title/tt0944947/?pf_rd_m=A2FGELUUNOQJNL&pf_rd_p=12230b0e-0e00-43ed-9e59-8d5353703cce&pf_rd_r=74A9J5JGKJ4ZJ265YS1A&pf_rd_s=center-1&pf_rd_t=15506&pf_rd_i=toptv&ref_=chttvtp_tt_3"
                target="_blank"><strong><em>Game of Thrones</em></strong></a>
            </td>
            <td><Strong>David Benioff, D.B. Weiss</Strong></td>
            <td><strong>73</strong></td>
            <td><strong>9.5</strong></td>
          </tr>
          <tr>
            <td>
              <a href="https://www.imdb.com/title/tt1475582/?pf_rd_m=A2FGELUUNOQJNL&pf_rd_p=12230b0e-0e00-43ed-9e59-8d5353703cce&pf_rd_r=74A9J5JGKJ4ZJ265YS1A&pf_rd_s=center-1&pf_rd_t=15506&pf_rd_i=toptv&ref_=chttvtp_tt_15"
                target="_blank"><strong><em>Sherlock</em></strong></a>
            </td>
            <td><Strong>Mark Gatiss, Steven Moffat</Strong></td>
            <td><strong>15</strong></td>
            <td><strong>9.2</strong></td>
          </tr>
        </table>
      </span>
    </div>

  </div>
  <script src="../js/script.js"></script>
</body>

</html>