
<div id="back">
  <div class="container">    
      <div  class="jumbotron">
          <div class="row">
              <div class="col-md-4 col-xs-12 col-sm-6 col-lg-4">
                  <img src="https://www.svgimages.com/svg-image/s5/man-passportsize-silhouette-icon-256x256.png" alt="stack photo" class="img">
              </div>
              <div class="col-md-8 col-xs-12 col-sm-6 col-lg-8">
                  <div class="container" style="border-bottom:1px solid black">
                      <h2>HELLO, John Doe</h2>
                  </div>
       <hr>
      <ul class="container details">
      <li><p><span class="glyphicon glyphicon-earphone one" style="width:50px;"></span>+91 90000 00000</p></li>
      <li><p><span class="glyphicon glyphicon-envelope one" style="width:50px;"></span>somerandom@email.com</p></li>
      <li><p><span class="glyphicon glyphicon-map-marker one" style="width:50px;"></span>Hyderabad</p></li>
      <li><p><span class="glyphicon glyphicon-new-window one" style="width:50px;"></span><a href="#">www.example.com</a></p></li>
      </ul>
                  </div>
          </div>
      </div>
  </div>
  <div class="container" >    
  
  <nav class="col-md-8 col-xs-12 col-sm-6 col-lg-8" class="navbar navbar-expand-lg navbar-light bg-light"> 
          <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav" >
              <a class="nav-item nav-link" href="#">Wish List Movies</a>
              <a class="nav-item nav-link" href="#">Favorite Movies</a>
            </div>
          </div>
        </nav>
  </div>
  </div>
  