body{
    background-color: cornflowerblue !important;
}

h1 {
    font-family: 'Courier New', Courier, monospace;
    font-size: 50px;
}

button{
    background-color: aqua;
}

button{
    background-color: rgb(48, 48, 97);
    color: white;
    font-weight: 800;
    border-radius: 5px;
}



#welcome{
    /* position: sticky;
    top: 0; */
    position: relative;
    left: 50px;
}