<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
<h4>Reimbursement form</h4>
<form id="reimbform">
	<label>Title:</label>
	<input type="text" name="title" id="title"> 

	<br> <br>
	<label>Amount:</label>
	<input type="number" name="amount" id="amount">
	<br> <br>
	<input type="submit" value="Submit" id="submitButton">
 </form>
<br><br>
<label>Description:</label>
<br>
<textarea rows="4" cols="50" name="comment" form="reimbform" placeholder="Enter description here." id ="description">
</textarea>
<a href="http://localhost:8080/ReimbursementApp/dashboard"><button >Back to dashboard</button></a>
<script src = "static/scripts/reimbursementcreate.js"></script>
</body>
</html>