<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Login</title>
</head>
<body>


	<div id="reimbursementInfo">
		<div>
			Reimbursement ID: <span id="rId"></span>
		</div>
		<div>
			Employee ID: <span id="reId"></span>
		</div>
		<div>
			Reimbursement Title: <span id="rTitle"></span>
		</div>
		<div>
			Reimbursement Description: <span id="rDescription"></span>
		</div>
		<div>
			Reimbursement Amount: <span id="rAmount"></span>
		</div>
		<div>
			Reimbursement State: <span id="rState"></span>
		</div>
		<div>
			Reimbursement ManagerID: <span id="rmId"></span>
		</div>
	</div>

	<form>
		<input type="submit" value="Validate" id="validate">
	</form>
	<form>
		<input type="submit" value="Decline" id="decline">
		
	</form>
	<br>
	<div id="info"></div>
	<br>
	<br>
	<button id="view">View</button>
	<select id="viewSettings" onchange="toggleInput()">
		<option value="all">All</option>
		<option value="solved">Solved</option>
		<option value="unresolved">Unresolved</option>
		<option value="employee">Employee</option>
	</select>
	<input type="number" id="searchId" placeholder = "employeeId" hidden>
	<br>
	<br>
	<br>
	<table id="reimbTable">
		<thead>
			<tr>
				<th>id</th>
				<th>title</th>
				<th>amount</th>
				<th>status</th>
			</tr>
		</thead>
		<tbody id="reimbBody">
		</tbody>

	</table>

	<a href="http://localhost:8080/ReimbursementApp/dashboard"><button >Back to dashboard</button></a>
	<script src="static/scripts/ReimbursementListMan.js"></script>
</body>
</html>