<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Login</title>
</head>
<body>

	<h4>Reimbursements:</h4>
	<br>
	<div>
		Email: <span id="eemail"></span>
	</div>
	<br>
	<div>
		Password: <span id="epass"></span>
	</div>
	<br>
	<div>
		Firstname: <span id="efirst"></span>
	</div>
	<br>
	<div>
		Lastname: <span id="elast"></span>
	</div>
	<br>
	<br>
	<button id="view">View</button>
	<select id="viewSettings">
		<option value="all">All</option>
		<option value="solved">Solved</option>
		<option value="unresolved">Unresolved</option>
	</select>
	<br>
	<table id="reimbTable">
		<thead>
			<tr>
				<th>id</th>
				<th>title</th>
				<th>amount</th>
				<th>status</th>
			</tr>
		</thead>
		<tbody id="reimbBody">
		</tbody>

	</table>

	<script src="static/scripts/ReimbursementListMan.js"></script>
</body>
</html>