<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
<h4>Update Employee Information Form</h4>
<form id="Empform">
	<label>Email:</label>
	<input type="text" name="email" id="email"> 
	<label>Password:</label>
	<input type="password" name="password" id="password1"> 
	<label>Re-enter Password:</label>
	<input type="password" name="password" id="password2"> 
	<label>Firstname:</label>
	<input type="text" name="firstname" id="firstname"> 
	<label>Lastname:</label>
	<input type="text" name="lastname" id="lastname"> 
	<br> <br>
<!-- 	<input type="submit" value="Update" id="submitButton">
 --> </form>
<br><br>
<button id = "submitButton">Hit me</button>
<script src = "static/scripts/EmployeeUpdate.js"></script>
</body>
</html>