<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
<h4>Update Employee Information Form</h4>
<a href="http://localhost:8080/ReimbursementApp/dashboard"><button >Back to dashboard</button></a>
<h6>Current information</h6>
<br>
<div> Email: <span id="eemail"></span></div><br>
<div> Password: <span id="epass"></span></div><br>
<div> Firstname: <span id="efirst"></span></div><br>
<div> Lastname: <span id="elast"></span></div><br>

<form id="Empform">
	<label>Email:</label><br>
	<input type="text" name="email" id="email"> <br>
	<label>Password:</label><br>
	<input type="password" name="password" id="password1"><br> 
	<label>Re-enter Password:</label><br>
	<input type="password" name="password" id="password2"> <br>
	<label>Firstname:</label><br>
	<input type="text" name="firstname" id="firstname"> <br>
	<label>Lastname:</label><br>
	<input type="text" name="lastname" id="lastname"> <br>
	<br> <br>
<!-- 	<input type="submit" value="Update" id="submitButton">
 --> </form>
<br><br>
<button id = "submitButton">Hit me</button>
<a href="http://localhost:8080/ReimbursementApp/dashboard"><button >Back to dashboard</button></a>
<script src = "static/scripts/EmployeeUpdate.js"></script>
</body>
</html>