<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Login</title>
</head>
<body>

	<h4>Reimbursements:</h4>
	<br>
	<button id="view">View</button>
	<select id="viewSettings">
		<option value="all">All</option>
		<option value="solved">Solved</option>
		<option value="unresolved">Unresolved</option>
	</select>
	<br>
	<table id="reimbTable">
		<thead>
			<tr>
				<th>id</th>
				<th>title</th>
				<th>description</th>
				<th>amount</th>
				<th>status</th>
			</tr>
		</thead>
		<tbody id="reimbBody">
		</tbody>

	</table>
<a href="http://localhost:8080/ReimbursementApp/dashboard"><button >Back to dashboard</button></a>
	<script src="static/scripts/viewReimbursement.js"></script>
</body>
</html>