<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>ERS Employee Home</title>

<link rel="stylesheet"
	href="https://use.fontawesome.com/releases/v5.7.1/css/all.css"
	integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr"
	crossorigin="anonymous">
<link rel="stylesheet" href="./css/template.css">

</head>
<body>

	<!-- Navbar -->
	<nav class="navbar navbar-expand navbar-dark bg-dark static-top"
		id="navbar"></nav>

	<div id="wrapper">

		<!-- Sidebar -->
		<ul class="sidebar navbar-nav" id="sidebar"></ul>

		<div id="content-wrapper">

			<div class="container-fluid">
				<!-- Breadcrumbs-->
				<ol class="breadcrumb">
					<li class="breadcrumb-item"><a href="#">Dashboard</a></li>
					<li class="breadcrumb-item active">Overview</li>
				</ol>
				<div class="card mb-3">
					<div class="card-header" style="font-size: 40px;">
						<i class="fas fa-table"></i> Request Table
					</div>
					<div class="card-body">
						<div class="table-responsive">
							<input type="checkbox" id="all" name="requesttype">all <input
								type="checkbox" id="pending" name="requesttype">pending
							<input type="checkbox" id="resolved" name="requesttype">resolved
							<table class="table table-striped table-hover" id="requestTable"
								cellspacing="0">
								<thead>
									<tr>
										<th scope="col">#</th>
										<th scope="col">Status</th>
										<!-- <th scope="col">Reason</th> -->
										<th scope="col">Amount</th>
										<th scope="col">Manager</th>
									</tr>
								</thead>

								<tbody id="requestTableBody">

								</tbody>
							</table>
						</div>
					</div>
				</div>

				<h2>Update request</h2>
				<form class="form_container" action="updaterequest" method="POST">
					<div class="form-row">
						<div class="form-group col-md-4">
							<input type=number name=amount class="form-control" min="0.01"
								step="0.01" placeholder="Amount">
						</div>
						<div class="form-group col-md-4">
							<input type=text name=status class="form-control"
								placeholder="Status">
						</div>
						<div class="form-group col-md-4">
							<input type=number name=id class="form-control"
								placeholder="Id">
						</div>
					</div>

					<button id="update_btn" type="submit" class="btn btn-primary">Update
						Request</button>
				</form>

				<br> <br> <br>

				<!-- Sticky Footer -->
				<footer class="sticky-footer">
					<div class="container my-auto">
						<div class="copyright text-center my-auto">
							<span>Copyright © Revature 2019</span>
						</div>
					</div>
				</footer>

			</div>
		</div>
	</div>

	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
		integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
		crossorigin="anonymous"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
		integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
		crossorigin="anonymous"></script>
	<script
		src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
		integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
		crossorigin="anonymous"></script>

	<script src="Scripts/Navbar.js"></script>
	<script src="Scripts/ManagerJS/ManagerHome.js"></script>
	<script src="Scripts/ManagerJS/ManagerSidebar.js"></script>


</body>
</html>