<div class= "jumbotron">
<a routerLink="/highlight">Highlight Component</a> <br>
<a routerLink="/profile">Profile Component</a> <br>
<a routerLink="/select">Select Component</a> <br>
<a routerLink="/table">Table Component</a> <br>
<a routerLink="/user">User Component</a>
</div>

<!-- <app-highlight-component></app-highlight-component>
<app-profilecomponent></app-profilecomponent> <br> <br>
<app-selectcomponent></app-selectcomponent> <br> <br>
<app-tablecomponent></app-tablecomponent> -->
<router-outlet></router-outlet>
