<!--The content below is only a placeholder and can be replaced.-->
<div class="container">
  <div class="jumbotron">
    <h1>Angular Exercise</h1>
    <nav>
      <a class = "btn btn-primary" routerLink="/">Home</a>
      <a class = "btn btn-primary" routerLink="/highlight">Highlight</a>
      <a class = "btn btn-primary" routerLink="/user">User</a>
      <a class = "btn btn-primary" routerLink="/select">Select</a>
      <a class = "btn btn-primary" routerLink="/table">Table</a>
      <a class = "btn btn-primary" routerLink="/profiles">Profiles</a>
    </nav>
    <router-outlet></router-outlet>
  </div>
</div>
