<h3 style="text-align:center"> Select Animals, Colors, and Days</h3>

<!-- <input type="radio" [(ngModel)]="isA" name="option" /> Animal <br><br>
<input type="radio" [(ngModel)]="isC" name="option" /> Color <br><br>
<input type="radio" [(ngModel)]="isD" name="option" /> Days <br><br>

<div *ngIf="isA">
  <p *ngFor="let animal of animals">{{ animal }}</p>
</div>
<div *ngIf="isC">
  <p *ngFor="let color of colors">{{ color }}</p>
</div>
<div *ngIf="isD">
  <p *ngFor="let day of days">{{ day }}</p>
</div>  -->


