<div class="about text-center mb-3">
  <div class="about__head">
    <h1>Movies Finder</h1>
    <p>Version 1.0.0</p>
  </div>
  <div class="about_body">
    <div class="aboutcontainer">
      <div class="about--info">
        <i class="fas fa-bug fa-lg"></i>
        <h2>Send a feedback</h2>
        <p>
          If you have comments or suggestions, you can send an
          <a href="mailto:">email</a>
        </p>
      </div>
    </div>
    <div class="about_container">
      <div class="about--info">
        <i class="fas fa-users fa-lg"></i>
        <h3>Developers</h3>
        <p>Dat Tran</p>
        <p>Kirill Zhdakh</p>
        <p>Assaye Assefa</p>
        <p>Youness Wardaoui</p>
      </div>
    </div>
    <div class="about_container">
      <div class="about--info">
        <i class="fas fa-video fa-lg"></i>
        <h3>The movie database</h3>
        <p>
          This application uses the API from TMDB.
        </p>
      </div>
    </div>
  </div>
</div>
