.about {
  height: 100vh;
  color: #ffffff;
  background-color: rgba(0,0,0,.87);
}

.about__head {
  padding-top: 80px;
}

p {
  font-size: 20px;
  color: #808080;
}

i {
  padding: 2rem;
}

.mb-3 {
  margin-bottom: 0rem !important;
}
