<table [ngClass]="style ? '' : 'table table-striped table-hover'">
    <thead>
      <tr>
        <th>Name</th>
        <th>Email</th>
        <th>DOB</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users">
        <td>{{ user.fName + " " + user.lName | firstcap }}</td>
        <td>{{ user.email }}</td>
        <td>{{ user.dob | date: "MM/dd/yy" }}</td>
      </tr>
    </tbody>
  </table>  
  
  <button class="btn btn-primary" (click)="style = !style">
    {{ styleTable ? "styled" : "non styled" }}
  </button>