<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Cache-Control"
	content="no-cache, no-store, must-revalidate" />
<meta http-equiv="Pragma" content="no-cache" />
<meta http-equiv="Expires" content="0" />
<title>Call Center</title>
<link href="https://fonts.googleapis.com/css?family=Quicksand"
	rel="stylesheet">
<link rel="stylesheet" type="text/css" href="HomePage.css">
<script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
</head>
<body>
	<header id="main-header">

		<h1>Call Activity</h1>

	</header>


<!--Nav Bar  -->  

	<aside id="sidebar">
		<nav id="navbar">

			<ul>
				<li><a href="http://localhost:9595/">Home</a></li>
				

				</div>
		</nav>
	</aside>


<!--Top display blocks  -->
	<div class="block">
		<h1 id="displayMax">9999</h1>
		<h3>Max Call</h3>
		<p id="displayMaxlabel">Jane William</p>
	</div>


	<div class="block">
		<h1 id="displayMin">9999</h1>
		<h3>Min Call</h3>
		<p id="displayMinlabel">Dick Cheney</p>
	</div>
	<div class="block">
		<h1 id="displayAvg">9999</h1>
		<h3>Average Call</h3>
		<p>.</p>
	</div>
	<div class="block">
		<h1 id="displayMdn">9999</h1>
		<h3>Median Call</h3>
		<p>.</p>
	</div>

	<div class="clr"></div>


<!--Main user table  -->
	<div class="container"">
		<section id="main">
			<h1>Calls</h1>
			<table id="userTable">
				<tr>
					<th>ID</th>
					<th>Rep</th>
					<th>Time</th>
					<th>Resolved</th>
				</tr>
			</table>
		</section>
<!--editor page  -->
		<div id="formContainer">
			<button id="gobckButton" onclick="goBack()">Go Back</button>
			</br> <b> <label for="firstName">First Name:</label> <label id="fName"></label></br>
				<label for="lasttName">Last Name:</label> <label id="lName"></label></br>
				<label for="isLbl">ID:</label> <label id="idLabel"></label></br> </br></b> <label
				for="text">Call Time:</label> <input type="number" id="callTime"
				name="firstName" placeholder="enter call time if applicable">
			<label for="resolved">Resolved</label> <select id="resolvedStatus"
				name="status">
				<option value="true">True</option>
				<option value="false">False</option>
			</select> <label for="description">Notes</label>
			<textarea id="issueDescription" name="subject"
				placeholder="Issue description..." style="height: 200px">frmhbkjb</textarea>
			<input type="submit" id="sbmtButton" onclick="formSubmit()">
			<input type="button" id="deleteButton" onclick="deletionFormSubmit()">
		</div>
<!--Footer  -->
	</div>
	<p id="TableHeader">Staff members</p>
	<div class="sideblock">
		<table id="userTable">
		</table>
	</div>
	<div class="clr"></div>
	<footer id="main-footer">
		<p>Copyright &copy; SpamCallers LTD</p>
	</footer>
	<script src="callcenter.js"></script>
</body>
</html>