<!DOCTYPE HTML5>
<html>

<head>
<title>Employee Home</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
<link rel="shortcut icon" href="https://pbs.twimg.com/profile_images/738088068800872448/hjSp3OqX_400x400.jpg">
</head>
<body>
<nav class="navbar navbar-inverse visible-xs">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <a class="navbar-brand" href="#">Revature</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li class="active"><a>Dashboard</a></li>
        <li><a >Profile</a></li>
        <li><a >Submit Reimbursement</a></li>
        <li><a href="localhost:8080/reimbursement-app/login" >Logout</a></li>
      </ul>
    </div>
  </div>
</nav>
<div class="container-fluid">
  <div class="row content">
    <div class="col-sm-3 sidenav hidden-xs">
      <h2>Logo</h2>
      <ul class="nav nav-pills nav-stacked">
        <li class="active"><a>Dashboard</a></li>
        <li><a >Profile</a></li>
        <li><a >Submit Reimbursement</a></li>
        <li><a href="localhost:8080/reimbursement-app/login">Logout</a></li>
      </ul><br>
    </div>
    <br>
    <div class="col-sm-9">
      <div class="well">
   <table id="contentTable">
     	<tbody id= "contentTableBody">
     	
     	</tbody>
     	</table>
      </div>
      </div>
      <script src="localhost:8080/reimbursement-app/static/Scripts/employee.js"></script>
</body>
</html>