<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name>reimbursement</display-name>
  <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>servlets.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MHomeServlet</display-name>
    <servlet-name>MHomeServlet</servlet-name>
    <servlet-class>servlets.MHomeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MHomeServlet</servlet-name>
    <url-pattern>/mHome</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutServlet</display-name>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>servlets.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EHomeServlet</display-name>
    <servlet-name>EHomeServlet</servlet-name>
    <servlet-class>servlets.EHomeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EHomeServlet</servlet-name>
    <url-pattern>/eHome</url-pattern>
  </servlet-mapping>
</web-app>