<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Employee Portal</title>
 <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
      crossorigin="anonymous">
</head>
<body>
<div class = "container">
<h1 class = "center">Employee Portal</h1>
<div id = "profile">
	<table class = "table table-striped table-bordered table-hover-cells" id = "profileInfo">
	<thead>
		<tr>
			<th >Employee ID</th>
			<th >Username</th>
			<th >Password</th>
			<th >Email</th>
			<th >Address</th>
			<th >Phone</th>
		</thead>
		<tbody id = profileBody>
		
		</tbody>
	</table>
</div>

<div id = "accessChoice">
<form class = "form-group">
<div class = "row">
	<div class = "col">
		<label>ALL:</label>
		<input type = "radio" name = "selector" id = "ALL" value = "ALL">
	</div>
	<div class = "col">
		<label>PENDING:</label>
		<input type = "radio" name = "selector" id = "PENDING" value = "PENDING">
	</div>
	<div class = "col">
		<label>RESOLVED/DENIED:</label>
		<input type = "radio" name = "selector" id = "RESOLVED/DENIED" value = "RESOLVED/DENIED">
	</div>
</div>
</form>
</div>
<div id = "reimbursement">
<table class="table table-striped table-hover table-hover-cells table-bordered" id = "rTable">
	<thead>
	<tr>
			<th >ID</th>
			<th >Amount</th>
			<th >Status</th>
			<th >Type</th>
			<th>Submitted Date</th>
			<th>Resolved Date</th>
	</tr>
	</thead>
	<tbody id = "rTableBody">
	
	</tbody>
</table>
</div>
	<hr>
    <div id ="formDiv">
    	<label>Profile Update:</label>
    	<form class = "form-group" id = "updateEmployee">
    	<div class = "row">
    		<div class = "col">
    		<input class="form-control form-control-lg" type = "text" id = "username" placeholder = "Username">
    		</div>
    		<div class = "col">
    		<input class="form-control form-control-lg" type = "text" id = "password" placeholder = "Password">
    		</div>
    		<div class = "col">
    		<input class="form-control form-control-lg" type = "text" id = "email" placeholder = "Email">
    		</div>
    	</div>
    	<br>
    	<div class = "row">
    		<div class = "col">
    		<input class="form-control form-control-lg" type = "text" id = "address" placeholder = "Address">
    		</div>
    		<div class = "col">
    		<input class="form-control form-control-lg" type = "text" id = "phone" placeholder = "Phone">
    		</div>
    		<div class = "col">
    		<button type = "button" class="btn btn-outline-warning btn-lg" id = "updateBtn">Update</button>
    		</div>
   		 </div>
    	</form>
    	<form action = "logout" method = "post">
    		<div class = "col">
    		<input type = "submit" class="btn btn-outline-danger btn-lg" value = "Logout" id = "logout">
    		</div>
    		</form>
    </div>
</div>
	<script src="static/Scripts/Employee.js"></script>
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
      crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</body>
</html>