<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
<div class = "container">
	<h4>Please enter your information</h4>
<form action="getlogin" method="post">
	<label>Username:</label>
	<input type="text" name="username"> 
	<br> <br>
	<label>Password:</label>
	<input type="password" name="password">
	<br> <br>
	<label>Sign In As Manager:</label>
	<input type="checkbox" name = "asManager" value = "true">
	<br> <br>
	<input type="submit" value="login" id = "lsubmit">
</form>
</div>
<script src="../Login.js"></script>
</body>
</html>