<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<h4>Please enter your information</h4>
<form action="login" method="get">
	<label>Username:</label>
	<input type="text" name="username"> 
	<br> <br>
	<label>Password:</label>
	<input type="password" name="password">
	<br> <br>
	<label>Sign In As Manager:</label>
	<input type="checkbox" name = "asManager">
	<br> <br>
	<input type="submit" value="login">
</form>
<script src="Login.js"></script>
</body>
</html>