#logCard{
  margin-top: 30%;
}

.logTitle{
    text-align: center;
    color: white;
}

.container{
  height: 100%;
  align-content: center;
  }
  
  .card{
  height: 370px;
  margin-top: auto;
  margin-bottom: auto;
  width: 400px;
  background-color: rgba(0,0,0,0.5) !important;
  }
  
  .social_icon span{
  font-size: 60px;
  margin-left: 10px;
  color: silver;
  }
  
  .social_icon span:hover{
  color: white;
  cursor: pointer;
  }
  
  .card-header h3{
  color: white;
  }
  
  .social_icon{
  position: absolute;
  right: 20px;
  top: -45px;
  }
  
  .input-group-prepend span{
  width: 50px;
  background-color: silver;
  color: black;
  border:0 !important;
  }
  
  input:focus{
  outline: 0 0 0 0  !important;
  box-shadow: 0 0 0 0 !important;
  
  }

  #loginButton{
    margin-left: 33%;
    margin-right: 33%;
    color: white;
    background-color: silver
  }
  
  #signUpContent{
    color: white;
  }

  #signUpButton{
    text-decoration: none;
    color: white;
  }