body { 
    background: url("../images/logBackground.jpg") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    
}

.container{
    font-family: 'Acme', sans-serif;
}