<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name>project_1_1</display-name>
  <servlet>
    <servlet-name>EmployeeLogin</servlet-name>
    <servlet-class>project_1_1.EmployeeLoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmployeeLogin</servlet-name>
    <url-pattern>/eLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ManagerLogin</servlet-name>
    <servlet-class>project_1_1.ManagerLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ManagerLogin</servlet-name>
    <url-pattern>/mLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EmployeeHomeServlet</display-name>
    <servlet-name>EmployeeHomeServlet</servlet-name>
    <servlet-class>project_1_1.EmployeeHomeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmployeeHomeServlet</servlet-name>
    <url-pattern>/EmpHome</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EmployeeApiServlet</display-name>
    <servlet-name>EmployeeApiServlet</servlet-name>
    <servlet-class>project_1_1.EmployeeApiServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmployeeApiServlet</servlet-name>
    <url-pattern>/EmpApi</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ManagerNameServletApi</display-name>
    <servlet-name>ManagerNameServletApi</servlet-name>
    <servlet-class>project_1_1.ManagerNameServletApi</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ManagerNameServletApi</servlet-name>
    <url-pattern>/ManagerNameApi</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ManagersEmployeeServlet</display-name>
    <servlet-name>ManagersEmployeeServlet</servlet-name>
    <servlet-class>project_1_1.ManagersEmployeeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ManagersEmployeeServlet</servlet-name>
    <url-pattern>/ManagersEmployee</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EmployeeReimbursmentServlet</display-name>
    <servlet-name>EmployeeReimbursmentServlet</servlet-name>
    <servlet-class>project_1_1.EmployeeReimbursmentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmployeeReimbursmentServlet</servlet-name>
    <url-pattern>/EmployeeReimburs</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EmployeeRequestApiServlet</display-name>
    <servlet-name>EmployeeRequestApiServlet</servlet-name>
    <servlet-class>project_1_1.EmployeeRequestApiServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmployeeRequestApiServlet</servlet-name>
    <url-pattern>/EmployeeRequestApi</url-pattern>
  </servlet-mapping>
</web-app>