<label><input type="radio" [(ngModel)]="ltype" value="animals" />Animals</label
><br />
<label><input type="radio" [(ngModel)]="ltype" value="colors" />Colors</label
><br />
<label><input type="radio" [(ngModel)]="ltype" value="days" />Days</label><br />

<div *ngIf="'animals' == ltype">
  <ul *ngFor="let animal of animals">
    <p>{{ animal }}</p>
  </ul>
</div>

<div *ngIf="'colors' == ltype">
  <ul *ngFor="let color of colors">
    <p>{{ color }}</p>
  </ul>
</div>

<div *ngIf="'days' == ltype">
  <ul *ngFor="let day of days">
    <p>{{ day }}</p>
  </ul>
</div>
