<nav class="sidebar" id="sidebar">
  <form class="d-none d-md-inline-block form-inline">
    <div id=searchbox>
      <input class="form-control" type="text" placeholder="Search" aria-label="Search" (keydown.enter)="generateUrl()" [(ngModel)]="inputValue" name="input">
    </div>
    <code></code>
  </form>

  <li class="nav-item">
    <a class="nav-link" routerLink="movies/nowplaying">
      <i class="fas fa-film"></i>
      <span>Now playing</span>
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="movies/upcoming">
      <i class="far fa-calendar-alt"></i>
      <span>Coming soon</span>
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="movies/trending">
      <i class="fas fa-fire-alt"></i>
      <span>Trending</span>
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="login">
      <i class="fas fa-user"></i>
      <span>Sign in</span>
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="about">
      <i class="fas fa-info-circle"></i>
      <span>About</span>
    </a>
  </li>
</nav>
