<!doctype HTML>
<html>
	<head>
		<meta charset="UTF-8">
  		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
		<link rel="stylesheet" type="text/css" href="./Styles/profile.css">
	</head>
	<body>
		<div class="container">
		<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
  			<div class="collapse navbar-collapse" id="navbarText">
    			<ul class="navbar-nav mr-auto">
      				<li class="nav-item active">
        				<a class="nav-link" href="#">Home</a>
      				</li>
      				<li class="nav-item dropdown">
        				<a class="nav-link dropdown-toggle" href="#" id="navbardropmain" data-toggle="dropdown">
          					Tickets
        				</a>
        				<div class="dropdown-menu">
          					<a class="dropdown-item" href="#">Pending</a>
          					<a class="dropdown-item" href="#">Resolved</a>
        				</div>
      				</li>
      				<li class="nav-item">
        				<a class="nav-link" href="#">Register Employee</a>
      				</li>
    			</ul>
    			<ul class="navbar-nav ml-auto">
    				<li class="nav-item dropdown">
    					<a class="nav-link dropdown-toggle" href="#" id="navbardropacc" data-toggle="dropdown">
    						Account
    					</a>
    					<div class="dropdown-menu">
    						<a class="dropdown-item" href="#">Profile</a>
          					<a class="dropdown-item" href="logout">Logout</a>
    					</div>
    				</li>
    			</ul>
  			</div>
		</nav>
		</div>
		<script src="./Scripts/ValidateSession.js"></script>
	</body>
</html>