h1{
    color: white;
    margin-top: 200px;
    text-align: center;
    size:300px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
body{
    background-image: url(galaxy.jpg);
		 color: white;
    text-align: center;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat; 
}

header{
    font-size: 75px;
}