#ReimsTab{
	display: block;
    height: 630px;      
    overflow-y: auto;  
    overflow-x: hidden;  
}
#EmpTab{
	display: block;
    height: 630px;       
    overflow-y: auto;  
    overflow-x: hidden; 
}

body{
	 color: white;
    text-align: center;
    background-image: url(flower.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat; 
}
