#ReimsTab{
	display: block;
    height: 630px;      
    overflow-y: auto;  
    overflow-x: hidden;  
}
#EmpTab{
	display: block;
    height: 630px;       
    overflow-y: auto;  
    overflow-x: hidden; 
}

