<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <link rel="stylesheet" href="../css/stylesheet.css" />
  <link rel="stylesheet" href="../css/bootstrap.min.css" />
  <title>Goals</title>
</head>

<body>
  <div id="home_container">
    <div>
      <ul id="nav_ul" class="nav nav-pills">
        <li role="presentation" class="li">
          <a href="../views/home.html">Home</a>
        </li>
        <li role="presentation" class="li">
          <a href="../views/experience.html">Experience</a>
        </li>
        <li role="presentation" class="li">
          <a href="../views/skills.html">Skills</a>
        </li>
        <li role="presentation" class="li active">
          <a href="../views/goals.html">Goals</a>
        </li>
        <li role="presentation" class="li">
          <a href="../views/hobby.html">Hobbies</a>
        </li>
      </ul>
    </div>

    <div class="container home_bio_container">
      <span id="left_side_container">
        <h1 id="style_home_h1">Goals:</h1>
        <br />
        <h4>Competency in Java</h4>
        <br />
        <h4>Learn the Spring Framework</h4>
        <br />
        <h4>Pass the OCA (Oracle Certified Associate)</h4>
      </span>
    </div>
  </div>
  <script src="../js/script.js"></script>
</body>

</html>