<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <link rel="stylesheet" href="../css/bootstrap.min.css" />
  <link rel="stylesheet" href="../css/stylesheet.css" />
  <title>Skills</title>
</head>

<body>
  <div id="home_container">
    <div>
      <ul id="nav_ul" class="nav nav-pills">
        <li role="presentation" class="li">
          <a href="../views/home.html">Home</a>
        </li>
        <li role="presentation" class="li">
          <a href="../views/experience.html">Experience</a>
        </li>
        <li role="presentation" class="li active">
          <a href="../views/skills.html">Skills</a>
        </li>
        <li role="presentation" class="li">
          <a href="../views/goals.html">Goals</a>
        </li>
        <li role="presentation" class="li">
          <a href="../views/hobby.html">Hobbies</a>
        </li>
      </ul>
    </div>

    <div class="container home_bio_container">
      <span id="skill_left_side_container">
        <h1 id="style_home_h1">Front End:</h1>
        <br />
        <div id="front_end_and_back_end_container">
          <img src="../img/html5.png" alt="" />
          <img src="../img/css3.png" alt="">
          <img src="../img/javascript.png" alt="">
          <img src="../img/php.png" alt="">
          <img src="../img/react.png" alt="">
          <img src="../img/jquery.png" alt="">
          <img src="../img/sass.png" alt="">
          <img src="../img/gulp.png" alt="">
          <img src="../img/Wordpress.png" alt="">
        </div>
      </span>

      <span id="skill_right_side_container">
        <h1 id="style_home_h1">Back End:</h1>
        <br />
        <div id="front_end_and_back_end_container">
          <img src="../img/nodejs.png" alt="">
          <img src="../img/mongodb.png" alt="">
          <img src="../img/pogresql.png" alt="">
          <img src="../img/mysql.png" alt="">
          <img src="../img//firebase.png" alt="">
        </div>
      </span>

    </div>
  </div>
</body>

</html>