<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>LogIn Page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
   
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" type="text/css"
  href="Project-1.css">
</head>
<body style="Background-color:rgb(172, 172, 218)">
        <div class="jumbotron">
                <h1 class="display-5">Revature Reimbursement Page!</h1>

                
              </div>
              <form action="LogIn" method="POST">
              <select name="Position">
                <option value="Employee">Employee</option>
                <option value="Manager">Manager</option>
                
              </select><br><br>
              
                    <input type="text" class="form-control" placeholder="Username" name="username" id="username"><br>
                    <input type="text" class="form-control" placeholder="Password" name="password" id="password"><br>
                    <input type="submit" class="btn btn-primary" value="Submit">
                     </form>
        
</body>
</html>