<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>Manager Home Page</title>
<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<link rel="stylesheet" type="text/css" href="./static/Views/Project-1.css">
<style>
  body{
  text-align: Center;
  
  }
  </style>
</head>
<body style="Background-color: rgb(46, 245, 185)">
	<div class="jumbotron" style="Background-color: rgb(54, 202, 74)">
		<h1 class="display-5">Manager Home Page</h1>
	</div>
	<button id="aButton"class="btn btn-success" type="button" data-toggle="collapse"
		data-target="#Active" aria-expanded="false"
		aria-controls="collapseExample">View active Reimbursements</button>
	
	<div class="collapse" id="Active"
		style="Background-color: rgb(112, 196, 137)">
		<div class="card card-body"
			style="Background-color: rgb(112, 196, 137)">
			<form style="Background-color: rgb(112, 196, 137)">
				<table id="ActiveT" class="table">
					<tr id="headerRow">
						<th>Reimbursement ID</th>
						<th>Employee</th>
						<th>Category</th>
						<th>Cost</th>
						<th>Merchant</th>
						<th>Purchase Date</th>
						
					</tr>
				</table>
				<select id="select" name="select">
    
				</select>
				<br><br>
				<button id="Approve" class="btn btn-success" type="button">Approve</button>
				<button id="Deny" class="btn btn-success" type="button">Deny</button>
			</form>
			
		</div>
	</div>
	<br>
	<br>
	<button id="QButton" class="btn btn-success" type="button" data-toggle="collapse"
		data-target="#ReimById" aria-expanded="false"
		aria-controls="collapseExample">View Reimbursements by Employee id</button>
	
	<div class="collapse" id="ReimById"
		style="Background-color: rgb(112, 196, 137)">
		<div class="card card-body"
			style="Background-color: rgb(112, 196, 137)">
			<form style="Background-color: rgb(112, 196, 137)">
			<select id="selectReimId">
			<option value="MICHAEL SCOTT">MICHAEL SCOTT</option>
			<option value="DWIGHT SHRUTE">DWIGHT SCHRUTE</option>
			<option value="JIM HALPERT">JIM HALPERT</option>
			<option value="PAM BEASELY">PAM BEASELY</option>
			<option value="RYAN HOWARD">RYAN HOWARD</option>
			<option value="ANGELA MARTIN">ANGELA MARTIN</option>
			<option value="KEVIN MALONE">KEVIN MALONE</option>
			<option value="OSCAR MARTINEZ">OSCAR MARTINEZ</option>
			<option value="STANLEY HUDSON">STANLEY HUDSON</option>
			<option value="CREED BRATTON">CREED BRATTON</option>
			<option value="PHYLLIS VANCE">PHYLLIS VANCE</option>
			<option value="KELLY KAPOOR">KELLY KAPOOR</option>
			<option value="MEREDITH PALMER">MEREDITH PALMER</option>
			<option value="TOBY FLENDERSON">TOBY FLENDERSON</option>
			</select>
			<button type="button" class="btn btn-success" id="xButton" >Submit</button>
			
			
				<table id="ReimByIDT" class="table">
					<tr id="headerRow">
						<th>Reimbursement ID</th>
						<th>Employee</th>
						<th>Category</th>
						<th>Cost</th>
						<th>Merchant</th>
						<th>Purchase Date</th>
						
					</tr>
				</table>
				
				<br><br>
				<select id="selectById" name="selectById">
    
				</select>
				<br><br>
				<button id="ApproveById" class="btn btn-success" type="button">Approve</button>
				<button id="DenyById" class="btn btn-success" type="button">Deny</button>
			</form>
			
		</div>
	</div>
	<br>
	<br>
	<button id="ResolvedB" class="btn btn-success" type="button" data-toggle="collapse"
		data-target="#Resolved" aria-expanded="false"
		aria-controls="collapseExample">View Resolved Reimburesments
	</button>
	
	<div class="collapse" id="Resolved"
		style="Background-color: rgb(112, 196, 137)">
		<div class="card card-body"
			style="Background-color: rgb(112, 196, 137)">
			<form style="Background-color: rgb(112, 196, 137)">
				<table id="ResolvedT" class="table">
					<tr id="headerRow">
						<th>Reimbursement ID</th>
						<th>Employee</th>
						<th>Category</th>
						<th>Cost</th>
						<th>Merchant</th>
						<th>Purchase Date</th>
						<th>Approved By</th>
						<th>Denied By</th>
					</tr>
				</table>
			</form>
			>
		</div>
	</div>
	<br>
<br>

	<button id="tbutton" class="btn btn-success" type="button" data-toggle="collapse"
		data-target="#ETable" aria-expanded="false"
		aria-controls="collapseExample">View Employees</button>
	
	<div class="collapse" id="ETable"
		style="Background-color: rgb(112, 196, 137)">
		<div class="card card-body"
			style="Background-color: rgb(112, 196, 137)">
			<form style="Background-color: rgb(112, 196, 137)">
				<table id="table" class="table">
					<tr id="headerRow">
						<th>id</th>
						<th>Name</th>
						<th>Birthday</th>
						<th>Salary</th>
						<th>Position</th>
						<th>Manager</th>
						<th>Hire Date</th>
					</tr>
				</table>
			</form>
			>
		</div>
	</div>
<br><br>
<form action="LogOut" method="GET">
	<button class="btn btn-success" type="submit">Log out</button>
	</form>
	<script src="static/Scripts/ManagerHomePage.js"></script>
</body>
</html>