<!DOCTYPE html>
<html>
<head>
    <meta name="description" content="we can see a table with some colors">
    <title>Colors</title>
    <!-- we can also link to style sheets -->
    <link rel="stylesheet" type="text/css" href="../styles/main-styles.css">
    <link rel="stylesheet" type="text/css" href="../styles/colors-table.css">
</head>
<body>
    <div id="nav">
            <a href="home.html"><button>Home</button></a>
            <a href="colors.html"><button>Colors</button></a>
            <a href="register.html"><button>Register</button></a>
    </div>
    <h1>Welcome to My Webpage!</h1>
    <hr>
    <div id="bobs-colors">
            <table>
                <tr>
                    <th>Composite</th>
                    <th>Primary 1</th>
                    <th>Primary 2</th>
                </tr>
                <tr>
                    <td>Orange</td>
                    <td>Red</td>
                    <td>Yellow</td>
                </tr>
                <tr>
                    <td>Purple</td>
                    <td>Blue</td>
                    <td>Red</td>
                </tr>
                <tr>
                    <td>Green</td>
                    <td>Blue</td>
                    <td>Yellow</td>
                </tr>
            </table>
        </div>

</body>
</html>