<!DOCTYPE html>
<html> 
    <!-- this is a comment -->
<head>
    <!-- head contains our metadata -->
    <meta charset="UTF-8">
    <meta name="description" content="This is a demo html page so we can practice working with the tags" />
    <meta name="author" content="Carolyn Rehm">
    <title>My Webpage!</title>
    <!-- we can also link to style sheets -->
    <link rel="stylesheet" type="text/css" href="../styles/main-styles.css">
    <link rel="stylesheet" type="text/css" href="../styles/home-styles.css">
</head>
<body style="background-color:yellow">
    <div id="nav">
        <a href="home.html"><button>Home</button></a>
        <a href="colors.html"><button>Colors</button></a>
        <a href="register.html"><button>Register</button></a>
    </div>
    <h1 id="welcome">Welcome to My Webpage!</h1>
    <hr>

    <div id="bob-quotes">
        <h3>Some Nice Bob Ross Quotes</h3>
        <p>Let that brush dance around there and play. <span id="important-sentence" >Talk to trees, look at the birds.</span> Whatever it takes. It's so important to do something every day that will make you happy. We'll have a super time.</p>

        <p>Trees grow however makes them happy. You've got to learn to <mark>fight the temptation to resist</mark> these things. Just let them happen. We might as well make some Almighty mountains today as well, what the heck. Just let your mind wander and enjoy. This should make you happy.</p>

        <h6>Our Last Quote</h6>
        <p><b>That's crazy.</b> Maybe, just to play a little, we'll put a little tree <i>here</i>. You can work and carry-on and put lots of little happy things in here.</p>
    </div>

    <div>
        <a href="https://revature.com/">Check out Revature's Website!</a>
    </div>
    <hr>
    <figure>
        <a href="https://nysenewstimes.com/2019/01/15/have-potential-to-become-a-good-portfolio-caterpillar-inc-nyse-cat-2/">
            <img src="https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/cat-quotes-1543599392.jpg?crop=1.00xw:0.759xh;0,0&resize=480:*" alt="very small cat" width="300" height="150"/> 
        </a>
        <figcaption>Our small cat</figcaption>
    </figure>

</body>
</html>