<!DOCTYPE html>
<html>
<head>
    <meta name="description" content="this page allows someone to register with our organization">
    <title>Registration Page</title>
    <!-- we can also link to style sheets -->
    <link rel="stylesheet" type="text/css" href="../styles/main-styles.css">
    <link rel="stylesheet" type="text/css" href="../styles/register.css">
</head>
<body>
        <div id="nav">
                <a href="home.html"><button>Home</button></a>
                <a href="colors.html"><button>Colors</button></a>
                <a href="register.html"><button>Register</button></a>
        </div>
        <h1>Welcome to My Webpage!</h1>
        <hr>

        <h3 id="register-header">Register with us!</h3>
        <div id="form-div">
            <form>
                <!-- we'll see tags like input with a name attribute, labels, selects with options -->
    
                <!-- name is used when submitting form data, it is the name given to the name value pair associated with an HTTP Request -->
    
                <!-- id is used to uniquely identify elements, class is used to specify a group of elements -->
    
                <label for="name">Name:</label>
                <input type="text" id="name" name="name"/>
                <br>
                <label for="email">Email:</label>
                <input type="email" id="email" name="email"/>
                <br>
                <label for="password">Password:</label>
                <input type="password" id="password" name="password"/>
                <br>
                <label for="fav-color" >Favorite Color:</label>
                <input type="color" id="fav-color" name="fav-color"/>
                <br>
                <label for="birthday">Birthday</label>
                <input type="date" id="birthday" name="birthday"/>
                <br>
                <label for="fav-animal">Favorite Animal</label>
                <select name="fav-animal">
                    <option value="cat">Cat</option>
                    <option value="dog">Dog</option>
                    <option value="unicorn">Unicorn</option>
                </select>
                <br>
                <input type="checkbox" name="terms-check" value="yes" checked>I agree to the terms and conditions</input>
                <br>
                <label>Gender:</label> <br>
                <input type="radio" name="gender" value="female"> Female
                <br>
                <input type="radio" name="gender" value="male">
                Male
                <br>
                <input type="radio" name="gender" value="other">
                Other
                <br>
                <input type="submit" value="Submit this form"/>
            </form>
        </div>
</body>
</html>