<!DOCTYPE html>
<html lang="en">
<head>
<!-- Required meta tags -->
<meta charset="utf-8" />
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no" />

<!-- custom datatables plugin -->
<link rel="stylesheet" type="text/css"
	href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script type="text/javascript" charset="utf8"
	src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.js"></script>

<script src="static/assets/javascript/manager.js"></script>

<!-- Google Fonts -->
<link href="https://fonts.googleapis.com/css?family=Acme"
	rel="stylesheet" />

<!-- Main CSS -->
<link rel="stylesheet" type="text/css" href="static/assets/css/main.css" />

<!-- Bootstrap CSS -->
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
	integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
	crossorigin="anonymous" />
</head>

<body>
	<div class="d-flex" id="wrapper">
		<!-- Sidebar -->
		<div class="bg-light border-right sideNav" id="sidebar-wrapper">
			<div class="sidebar-heading sideTop">Re-Burst</div>
			<div class="list-group list-group-flush">
				<form class="leftNav" method="POST" action="mReimbursement">
					<input
						class="lookGOOD list-group-item list-group-item-action bg-light"
						type="submit" value="Reimbursements" />
				</form>
				<form class="leftNav" method="POST" action="Mprofile">
					<input
						class="lookGOOD list-group-item list-group-item-action bg-light"
						type="submit" value="Profile" />
				</form>
			</div>
		</div>
		<!-- /#sidebar-wrapper -->

		<!-- Page Content -->
		<div id="page-content-wrapper">
			<nav
				class="navbar navbar-expand-lg navbar-light bg-light border-bottom topNav">
				<button class="navbar-toggler" type="button" data-toggle="collapse"
					data-target="#navbarSupportedContent"
					aria-controls="navbarSupportedContent" aria-expanded="false"
					aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>

				<div class="collapse navbar-collapse" id="navbarSupportedContent">
					<ul class="navbar-nav ml-auto mt-2 mt-lg-0">
						<li class="nav-item">
							<form method="POST" action="managerLogin">
								<input
									class="lookGOOD list-group-item list-group-item-action bg-light"
									type="submit" value="Home" />
							</form>
						</li>
						<li class="nav-item">
							<form method="POST" action="logout">
								<input class="lookGOOD" type="submit" value="Logout" />
							</form>
						</li>
						<li class="nav-item dropdown"><a
							class="nav-link dropdown-toggle" href="#" id="navbarDropdown"
							role="button" data-toggle="dropdown" aria-haspopup="true"
							aria-expanded="false"> More </a>
							<div class="dropdown-menu dropdown-menu-right"
								aria-labelledby="navbarDropdown">
								<form method="POST" action="Mprofile">
									<input
										class="lookGOOD list-group-item list-group-item-action bg-light"
										type="submit" value="Profile" />
								</form>
							</div></li>
					</ul>
				</div>
			</nav>
			<div class="container">
			
			<div class="row">
					<div class="col-lg-6 col-md-12 ">
						<div class="form-style-8">
							<h2>Create Reimbursement</h2>
							<form>
								<input id ="rAmount" type="Number" name="amount" placeholder="Enter Amount" />
								<input id ="rDesc" type="text" name="description" placeholder="Description" />  
								<input id ="createRButton" type="submit" value="Create" />
							</form>
						</div>
					</div>
					<div class="col-lg-6 col-md-12">
						<div class="form-style-8">
							<h2>Update Reimbursement</h2>
							<h3>0 = Pending, 1 = Accepted, 2 = Declined</h3>
							<form>
								<input id="rID"type="number" name="id" placeholder="Reimbursement ID" />
								<input id="rStatusChange"type="number" name="change" placeholder="Status Code" />
								<input id ="updateRButton" type="submit" value="Update" />
							</form>
						</div>
					</div>
				</div>
				
				<div class="card bg-light">
				<h5 class="card-title text-center">All Reimbursements</h5>
					<table id="table_id" class="display">
						<thead>
							<tr>
								<th>Reimbursement Id</th>
								<th>Reimbursement Amount</th>
								<th>Reimbursement Status</th>
								<th>Description</th>
								<th>Approved/Denied By</th>
								<th>Employee ID</th>
							</tr>
						</thead>
						<tfoot>
							<tr>
								<th>Reimbursement Id</th>
								<th>Reimbursement Amount</th>
								<th>Reimbursement Status</th>
								<th>Description</th>
								<th>Approved/Denied By</th>
								<th>Employee ID</th>
							</tr>
						</tfoot>
					</table>
				</div>
			</div>
		</div>
		<!-- /#page-content-wrapper -->

	</div>

	<!-- /#wrapper -->

	<!-- Bootstrap core JavaScript -->
	<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

	<!-- Menu Toggle Script -->
	<script>
		$("#menu-toggle").click(function(e) {
			e.preventDefault();
			$("#wrapper").toggleClass("toggled");
		});
	</script>

	<!-- Optional JavaScript -->
	<!-- jQuery first, then Popper.js, then Bootstrap JS -->
	<!--  	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
		integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
		crossorigin="anonymous"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
		integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
		crossorigin="anonymous"></script>
	<script
		src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
		integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
		crossorigin="anonymous"></script>
		-->
</body>
</html>
