<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="shortcut icon" href="https://cdn2.iconfinder.com/data/icons/applications-5/24/window-dollar-1-512.png">
    <title>Employee Home</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

    <link rel="stylesheet" type="text/css" media="screen" href="static/Views/page3.css">
</head>
<body class="font-family: 'Spectral';font-size: 16pt" style="background-color:#F5F5F5">
    <div class="header">
    	<div id="headerText">
    		<h1 style="font-size:40pt ; color:white">Reimbursements Employee Dashboard</h1>
    	</div>
    		<div class="dropButton">
	    		<button class="btn buttonDrop dropdown-toggle" type="button" data-toggle="dropdown" id="greetingEmp"></button>
	    		  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
	    		  	<a class="dropdown-item" href="employeeLogin">Dashboard Home</a>
	    		 	<a class="dropdown-item" id="toProfile" href="#">My Profile</a>
				    <a class="dropdown-item" id="toCreate" href="#">Create Reimbursement Requests</a>
				    <a class="dropdown-item" id="toPending" href="#">View Pending Requests</a>
				    <a class="dropdown-item" id="toResolve" href="#">View Resolved Requests</a>
				    <a class="dropdown-item" href="logout">Logout</a>
				 </div>
			 </div>
    </div>
    <br>
    
		<div class="dashboard col text-center">
			<button class="btn" id="showRequestForm">Create Request</button>
			<button class="btn" id="showReimbursements">View Pending Reimbursements</button>
			<button class="btn" id="showResolvedReimb">View Resolved Reimbursements</button>
			<!--  if time add employee <button class="btn" id="showCreate">Add employee</button> -->
		</div>
		<br>
		
		<div id ="showForm">
			<form id="createReimb" hidden action="http://localhost:9393/Project1/employeeLogin" method="post"> 
               <div id="bigDiv" class="form-group">
               		<input type="number" name="reimbursementId" id="hiddenLength" hidden>
               		<input type="number" name="formempId" id="hiddenId" hidden>
               		<input type="text" name="formResolved" id="formIsRes" hidden>
               		<input type="text" name="formResMess" id="formResMess" hidden>
               		<input type="text" name="formMngRes" id="formMng" hidden>
                	<label for="amountType" class="col-md-6 col-form-label">Amount Requested</label>
                      <div id="amountDiv" class="col-md-4">
                       	<input type="number" id="amountInp" class="form-control" name="amount" aria-describedby="amountHelp" placeholder="Enter amount requested ($xx.xx)" required>
                       	<small id="amountHelp" class="form-text">What is the monetary amount you are requesting to be reimbursed for?</small>
                      </div>
                   </div>  
                	<textarea rows="3" cols="50" name="content" id="reqReason" form="createReimb" maxlength="2000" placeholder="Please enter the reason for your reimbursement request. Be as specific as possible." required></textarea>
               	
               <div class ="submitLogin">
                   <button id="submitRequest" value="Submit Reimbursement Request" class="col-md-3 btn btn-success">Submit Reimbursement Request</button>
               </div> <br>
               </form>
               <p hidden id="successPost"></p>
               
       
		</div>
		
		<div id="pendingTable" hidden>
			<table class="table table-bordered table-hover" id="pending">
				<tr>
					<th style="background-color:#428bca" id="sticky">Employee Id#</th>
					<th style="background-color:#428bca" id="sticky">Reimbursement Id#</th>
					<th style="background-color:#428bca" id="sticky">Content</th>
					<th style="background-color:#428bca" id="sticky">Amount Requested</th>
					<th style="background-color:#428bca" id="sticky">Status</th>
				</tr>
			</table>
		</div>
		
		<div id="resolvedTable" hidden>
			<table class="table table-bordered table-hover" id="resolved">
				<tr>
					<th style="background-color:#428bca" id="sticky">Reimbursement Id#</th>
					<th style="background-color:#428bca" id="sticky">Content</th>
					<th style="background-color:#428bca" id="sticky">Amount Requested</th>
					<th style="background-color:#428bca" id="sticky">Status</th>
					<th style="background-color:#428bca" id="sticky">Resolved By</th>
				</tr>
			</table>
		</div>
		
		<div id="accountProfile" hidden>
			<h2 id="profileWelcome">Profile Information</h2>
			<form>
				<div class="form-group">
					<span style="display: block" id="span1">
						<label id="firstName" for="firstName">First Name:</label>
							<p style="display: inline" id="empFN"></p>
							<input style="display: inline" id="empFNInp" type="text" name="empFNInp" hidden>
					</span>
					<span style="display: block" id="span2">
						<label id="lastName" for="lastName">Last Name:</label>
							<p style="display: inline" id="empLN"></p>
							<input style="display: inline" id="empLNInp" type="text" name="empLNInp" hidden>
					</span>
					<span style="display: block" id="span3">
						<label id="profEmail" for="email">Email:</label>
							<p style="display: inline" id="empEmail"></p>
							<input style="display: inline" id="empEmailInp" type="text" name="empEmailInp" hidden>
					</span>
						
					</div>
			</form>
		</div>
		
	<p hidden id="sessionEmail"></p>
   
<script src="static/Scripts/employeehome.js"></script>
</body>
</html>