body, html{
	overflow-x: hidden;
  	overflow-y: auto;
    font-family: 'Spectral' !important;
    font-size: 12.5pt !important;
}

.header {
    width: 100%;
    height: 70px !important;
    padding: 3.0%;
    background-color: black;
	background-repeat: no-repeat;
    background-position: 81% 81%;
    box-sizing: content-box;
    text-align: center;
}

h1 {
	color: white;
}

#greetingEmp {
	position: absolute;
	right: 25px;
	color: white;
	background-color: black;
	padding: 0;
	border: none;
	background: none;
}


.dropdown-toggle::after {
    display: none;
}

.dropButton {
	width: 18%;
}

.btn:focus,.btn:active {
   outline: none !important;
   box-shadow: none !important;
}

h2 {
	text-align: center;
}

.btn{
	background-color:#428bca;
}

form {
	width:100%;
	margin: auto;
	text-align:center;
}

.form-group {
	width: 100%;
	text-align: center;
}

#bigDiv {
	width:100%
	text-align: center;
}

#amountDiv, #profileButtons {
	margin: auto;
	width: 100%;
}

#submitRequest {
	background-color: #228B22;
}

#pending, #resolved {
	width: 70%;
	margin: auto;
}

#profileEditInfoDiv {
	font-size: 14pt;
}

#editProfileBtn, #cancelEditBtn {
	background-color: black;
	color: white;
	margin-left: 43.5%;
}

#saveEditBtn {
	background-color: black;
	color: white;
	margin-right: 20%;
}

#empFNInp:focus, #empLNInp:focus, #empEmailInp:focus {
	outline: black;
	border: 1px solid black;
}