<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name>PEAKReimbursment</display-name>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DashboardServlet</display-name>
    <servlet-name>DashboardServlet</servlet-name>
    <servlet-class>com.servlet.DashboardServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DashboardServlet</servlet-name>
    <url-pattern>/dashboard</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutServlet</display-name>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>com.servlet.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SessionServlet</display-name>
    <servlet-name>SessionServlet</servlet-name>
    <servlet-class>com.servlet.SessionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SessionServlet</servlet-name>
    <url-pattern>/session</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegisterServlet</display-name>
    <servlet-name>RegisterServlet</servlet-name>
    <servlet-class>com.servlet.RegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterServlet</servlet-name>
    <url-pattern>/registeremployee</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TicketCreateServlet</display-name>
    <servlet-name>TicketCreateServlet</servlet-name>
    <servlet-class>com.servlet.TicketCreateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TicketCreateServlet</servlet-name>
    <url-pattern>/createticket</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetEmployeesServlet</display-name>
    <servlet-name>GetEmployeesServlet</servlet-name>
    <servlet-class>com.servlet.GetEmployeesServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetEmployeesServlet</servlet-name>
    <url-pattern>/getemployees</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdatePasswordServlet</display-name>
    <servlet-name>UpdatePasswordServlet</servlet-name>
    <servlet-class>com.servlet.UpdatePasswordServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdatePasswordServlet</servlet-name>
    <url-pattern>/updatepassword</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PendingTicketServlet</display-name>
    <servlet-name>PendingTicketServlet</servlet-name>
    <servlet-class>com.servlet.PendingTicketServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PendingTicketServlet</servlet-name>
    <url-pattern>/pendingtickets</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AcceptedTicketServlet</display-name>
    <servlet-name>AcceptedTicketServlet</servlet-name>
    <servlet-class>com.servlet.AcceptedTicketServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AcceptedTicketServlet</servlet-name>
    <url-pattern>/acceptedtickets</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeclinedTicketServlet</display-name>
    <servlet-name>DeclinedTicketServlet</servlet-name>
    <servlet-class>com.servlet.DeclinedTicketServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeclinedTicketServlet</servlet-name>
    <url-pattern>/declinedtickets</url-pattern>
  </servlet-mapping>
</web-app>